@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Kanit:ital,wght@1,600&family=Open+Sans:wght@500&family=Roboto+Condensed:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}


  body {
    font-family: "Kanit", sans-serif;
    user-select: none;
    overflow: hidden;
  }


  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .box1 {
    text-align: center;
    background-color: transparent;
    padding: 200px;
    border: 2px solid transparent;
    background: url(images/strella1.png);
  }

  .box2 {
    background-color: transparent;
    padding: 200px;
  }

 h1 {
    color: #3E5F8A;
    text-align: left;
    position: relative;
    margin-left: -0.6rem;
    font-size: 4rem;
  }

  .p1 {
    font-family: "Dosis", sans-serif;
    text-align: left;
    margin-top: 20px;
  }

  .inputbox {
    font-family: "Dosis", sans-serif;
    position: relative;
    margin: 30px -6px;
    width: 100%; 
    border-bottom: 2px solid #fff;  
    margin-top: 70px;
    text-align: center;
}


  .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:focus ~ label {
top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
    border-bottom-color: #fff; 
}


.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    margin-left: -10rem;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

button:hover {
  color: #3E5F8A;
}

.bhome {
    display: flex;
    margin-top: -2rem;
    margin-left: 20rem;
}

.bhome:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #3E5F8A;
}

  
#map {
    height: 62.5rem;
    width: 205%;
}

ul {
    list-style-type: none;
}

  
